{%extends "base.html" %}


{% block page_name%}
Home
{% endblock page_name%}


{% block content %}

    {% for room  in rooms  %}
        <h3>
            <a href="{% url 'rooms:detail' room.pk %}"> <!--뒤에 room.pk 없으면 arguments(urls.py path에 int:pk)가 없을때의 detail이 없다는 오류가 나옴-->
                 <!--룸 이름 클릭하면 이제 그룸의 아이디를 url로 가지는 경로로 이동 django의 url tag, config -> urls.py의 namespace인 rooms : , rooms -> urls.py의 name인 detail-->
                {{room.name}} / ${{room.price}}
            </a>
        </h3>
    {% endfor %}
    
    <h5>
    {% if page_obj.has_previous %} 
        <a href="?page={{page_obj.previous_page_number}}">Previous</a>    
    {% endif %}
    
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}} 

    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">Next</a>    
    {% endif %}
    </h5>

{% endblock content %}



    