{% extends 'base.html' %}


{% block page_title %}
    Log In
{% endblock page_title %}
    
<!--base에 따로 search-bar 만들어놓고 모든페이지에 뜨게한뒤 , 여기 서치에서는 서치를 볼필요 없으니 밑에 빈 블럭으로 만들어서 숨기는 것
그렇게하고 밑에 있는 블럭에서 새롭게 같은형식으로 만들어 두기-->
{% block search-bar %} 
{% endblock search-bar %}

    

{% block content %}
    <div class="container lg:w-5/12 md:w-1/2 mx-auto my-10 flex flex-col items-center border border-gray-400 p-6">
        
        {% include 'partials/social_login.html' %}
        
        <form method="POST" action="{% url 'users:login' %}" class="w-full">
            {% csrf_token %} <!--사이트간 위조 방지 기술, 토큰으로 지정된 웹사이트에서 post가 왔는지 확인해줌-->
            
            {% include 'mixins/auth/auth_form.html' with form=form cta="Log In"%}

        </form>
        
        <div class="mt-2">
            <span class="mr-2">Don't have an account?</span>
            <a href="{% url 'users:signup' %}" class="text-red-400 font-medium">Sign Up</a>
        </div>

    </div>
{% endblock content %}
    